@model BoraTest.Models.User


@{
    ViewBag.Title = "Lost your password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Lost your password</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Email, "Email", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { id = "testid1", name = "Testname1", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Reset" class="btn btn-primary" />
                @Html.ActionLink("Back to Login", "index", null, new { @class = "btn btn-success" })
            </div>
        </div>
        <div class="form-group">
            <div>
                @if (@ViewBag.Error != null)
                {
                    <p class="alert alert-danger">@ViewBag.Error</p>
                }
                @if (@ViewBag.Success != null)
                {
                    <p class="alert alert-success">@ViewBag.Success</p>
                }
            </div>
        </div>
    </div>
}
